<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello Page</title>
    <!-- React -->
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="root"></div>
  </body>

  <script type="text/babel" data-type="module">
    const container = document.getElementById("root");
    const root = ReactDOM.createRoot(container);



    class Root extends React.Component {
        render() {
            return(
                <h1>Hello Root</h1>
            );
        }
    }

    root.render(<Root />);
  </script>
</html>
